
/*Definindo o estilo para o corpo do documento*/

body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: burlywood;
}

/* Definindo o estilo para os títulos h1 */
h1 {
    color: rgb(20, 19, 19);
    font-size: 24px;
    font-weight: bold;
  }

  /* Definindo o estilo para os parágrafos */
p {
    color: #666;
    font-size: 16px;
  }

  /* Alterando a cor de fundo para um elemento específico com a classe "destaque" */
.destaque {
    background-color: yellow;
  }